<div style="text-align: center; padding: 30px;">
  <div style="background-color: #e6f0fb; display: inline-block; padding: 20px; border-radius: 8px;">
    <h3>Trip Markとは？</h3>
      <p>過去に自分が旅行の際に訪れたことのある観光スポットや店舗の情報を投稿・共有できます!<br>
         旅行の計画を立てる際に参考になる、色々な方の経験談・おすすめポイントを見ることができます！</p>
  </div>
</div>
